<div>
    <div class="mt-6 flex flex-col space-y-4">
        <div class="btn w-full text-xl text-neutral-900 font-bold bg-royalorange-500 hover:bg-royalorange-600">
            Entrar
        </div>

        <div class="btn w-full text-xl border-richblack-100 hover:border-richblack-100 border-2 border-2 font-bold">
            <img src="/assets/google.svg" alt="">
        </div>
    </div>
    <div class="text-gainsboro-500 mt-8">Ainda não tem uma conta? <a class="text-royalorange-500" href="#">Crie uma</a></div>
</div>