<div>
    <div class="mt-6 flex flex-col space-y-4">
      <app-main-button
          text="Entrar"
          bgColor="bg-royalorange-500"
          textColor="text-neutral-900"
          type="text">
      </app-main-button>

      <app-main-button
          borderOptions="border-richblack-100 border-2"
          bgColor="bg-richblack-400"
          image="/assets/google.svg"
          type="image">
      </app-main-button>
    </div>
    <div class="text-gainsboro-500 mt-8">Ainda não tem uma conta? <a class="text-royalorange-500" href="#">Crie uma</a></div>
</div>