<main class="justify-center flex font-jakarta font-bold">
    <section >
        <form>
            <fieldset >
                <legend class="mt-8 w-[390px]">
                    <app-title></app-title>
                </legend>
                <div class="mt-6">
                    <app-input
                        id="username"
                        name="username"
                        label="Login:"
                        type="text"
                        placeholder="Email ou usuário">
                    </app-input>
                </div>
                <div class="mt-6">
                    <app-input
                        id="username"
                        name="username"
                        label="Senha:"
                        type="password"
                        placeholder="Senha">
                    </app-input>
                </div>
            </fieldset>

            <a class="text-gainsboro-500" href="#">Esqueceu a senha?</a>
            <!-- <img src="/logo.svg" alt="Logo" class="height-[90px] pr-2"> -->
            <div>
                <app-main-button
                    text="Entrar"
                    bgColor="bg-royalorange-500"
                    textColor="text-gainsboro-500"
                    type="text">
                </app-main-button>
                <app-main-button
                    bgColor="bg-richblack-400"
                    textColor="text-gainsboro-500"
                    image="/assets/google.svg"
                    type="image">
                </app-main-button>
            </div>
        </form>
        <footer>
            <div class="text-gainsboro-500">Ainda não tem uma conta? <a href="#">Crie uma</a></div>
        </footer>
    </section>
</main>
