<div>
    <form>
        <fieldset>
            <div class="mt-6 w-[430px]">
                <app-input
                    id="username"
                    name="username"
                    label="Login"
                    type="text"
                    placeholder="Email ou usuário">
                </app-input>
            </div>
            <div class="mt-6 w-[430px]">
                <app-input
                    id="username"
                    name="username"
                    label="Senha"
                    type="password"
                    placeholder="Senha">
                </app-input>
            </div>
        </fieldset>
    </form>

    <div class="text-gainsboro-500 mt-6">
        <a href="#">Esqueceu a senha?</a>
    </div>
</div>